```python
Id Karyawan: 1
Nama Karyawan: Andi
Gaji Karyawan: 5000000

Setelah diubah
Nama tidak boleh kosong
Gaji tidak boleh negatif

Setelah diubah
Gaji karyawan berhasil diubah
Nama Karyawan: Andi
Gaji Karyawan: 6000000
Id Karyawan: 1
```